---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>可乐 - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/kele2.jpg">
				<h1>kele</h1>
				<p>A student major in Computer,<br>
					there is something interesting i want to share.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
       
                
					<li>
						<div class="cbp_tmlabel">
							<h2>毕业4.0</h2>
							<time>2016.12</time>
							<img src="images/kele3.jpg">
							<ul>
								<li>
                                   暑假毕业之后随手做了一个电子相册，后来在朋友的支持下，改进了一下，赶脚业余的就是业余的(ˉ▽ˉ；)...)
									
								</li>
								<li class="skill">
									<span><b>life</b></span>
									<span class="link"><a target="_blank" href="http://v.youku.com/v_show/id_XMTY3NzYwNTIxMg==">VIDEO</a></span>
								</li>
							</ul>
						</div>
					</li>
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by kele
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
